@model JsonCrudApp.Models.Student
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["UserDetails"];
    ViewData["TitleKey"] = "UserDetails";
}

<h1 data-i18n="Details">@Localizer["Details"]</h1>

<div>
    <h4 data-i18n="User">@Localizer["User"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" data-i18n="Name">
            @Localizer["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2" data-i18n="Email">
            @Localizer["Email"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2" data-i18n="Password">
            @Localizer["Password"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2" data-i18n="Age">
            @Localizer["Age"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2" data-i18n="Course">
            @Localizer["Course"]
        </dt>
        <dd class="col-sm-10">
            <span data-i18n="@(Model.Course ?? "")">@Localizer[Model.Course ?? ""]</span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning" data-i18n="Update">@Localizer["Update"]</a> |
    <a asp-action="Index" class="btn btn-secondary" data-i18n="BackToList">@Localizer["BackToList"]</a>
</div>
